.card{
    height: 100px;
    width: 100px;
    border: 1px solid purple;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}
.card-back {
    background-color: darkorange;
}
.card-box{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}